# Core
numpy
pandas
matplotlib
seaborn
plotly
streamlit

# ML / DL
torch
scikit-learn
optuna
tqdm

# Finance / Data
yfinance
tweepy

# NLP
transformers

# Time series / regime detection
ruptures
hmmlearn
